<div class="container">
  <p>
    Группа "Курага"-развивающаяся, перспективная группа города-героя Севастополя.
    Коллектив был основан 1-го августа 2003 года братьями Андриевскими.
    С того времени началась активная музыкальная деятельность группы и уже, буквально,
    через год группа даёт первый концерт и завоёвывает внимание первых своих поклонников.
   С того времени и началось...концерты, записи, съёмки и широкое признание в приделах АРК Крым.
    С 2007 года успешно гастролирует по городам Крыма, Украины и России, нигде не оставляя залы равнодушными.
  В 2008 году в эфир местного телевидения выходит передача про группу и её участников.
  Летом этого же года ребята пробуют себя в роли уличных музыкантов, дав концерт прямо
   на набережной своего родного города, реакция слушателей была однозначной: группу не отпускали
   до глубокой ночи .Буквально через несколько месяцев "Курага" выступает на одной сцене
    с легендарной группой "Коррозия Металла". Ребят постоянно приглашают на большие сцены многих
     городов Крыма и России. В 2010 году группа аккомпанировала вокалисту легендарной группы "Белый орёл"
      на центральной площади родного города.
      С этого времени в составе группы и репертуаре происходит множество изменений: "Курага" ищет новое звучание.
       На смену тяжелому доселе панк-року приходят песни более глубокого и лирического содержания.
        С 2013 года группа выходит на новый уровень своей популярности.Постоянные гастроли по Крыму,
         Украине и России дают свои плоды-количество поклонников стремительно растёт.
         О группе начинают говорить далеко за пределами родного города.
          В ноябре 2015 года ребята выступают на севастопольском рок-фестивале,
          в жюри которого сидел лидер всем известной группы "Агата Кристи" Вадим Самойлов.
           Вадим выделяет коллектив среди прочих и уже через несколько дней музыканты выступают на одной
            сцене в Симферополе. Эти события вдохновляют ребят на написание первого студийного
            авторского альбома "Любовь-Весна", песни которого разлетелись по всей стране и были
            в ротации крымского радио длительное время. Зимой 2016 года выходит клип на песню "Домой",
             посвящённую городу-герою Севастополю. Клип продолжительное время транслируется ведущими
              севастопольскими и крымскими каналами и обретает популярность в социальных сетях.
               23 февраля 2016 года Самойлов приглашает ребят выступить на одной сцене с "Агатой Кристи"
               и Юлией Чичериной. 1 августа выходит второй по счёту студийный альбом "Звёзды освещают день".
                Местом для презентации альбома был выбран знаменитый посёлок Коктебель, который
                уже много лет вдохновляет ребят на написание новых хитов. В данный момент ребята
                успешно гастролируют по городам России и пользуются большим спросом.
                 Слушатели любят как и авторские композиции,так и кавер-версии самых популярных музыкальных хитов.

  </p>
</div>
