<div class="container">
  <div class="text-center">
   <img src="assets/images/1.jpg" width="640" height="480" class="img-rounded" alt="Cinque Terre">
   <img src="assets/images/2.jpg" width="640" height="480" class="img-rounded" alt="Cinque Terre">
   <img src="assets/images/3.jpg" width="640" height="480" class="img-rounded" alt="Cinque Terre">
   <img src="assets/images/4.jpg" width="640" height="480" class="img-rounded" alt="Cinque Terre">
   <img src="assets/images/5.jpg" width="640" height="480" class="img-rounded" alt="Cinque Terre">
   <img src="assets/images/6.jpg" width="640" height="480" class="img-rounded" alt="Cinque Terre">
   <img src="assets/images/7.jpg" width="640" height="480" class="img-rounded" alt="Cinque Terre">
   <img src="assets/images/8.jpg" width="640" height="480" class="img-rounded" alt="Cinque Terre">
   <img src="assets/images/9.jpg" width="640" height="480" class="img-rounded" alt="Cinque Terre">
   <img src="assets/images/10.jpg" width="640" height="480" class="img-rounded" alt="Cinque Terre">
</div>
</div>
