<div class="container">
  <div class="text-center">
    <p>
     Авторские песни группы!
   </p>
   <div class="embed-responsive embed-responsive-16by9">
     <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/5ME-1vrkwKQ" allowfullscreen></iframe>
   </div>
   <div class="embed-responsive embed-responsive-16by9">
     <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zNc7jQwGBTQ" allowfullscreen></iframe>
   </div>
   <div class="embed-responsive embed-responsive-16by9">
     <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jQuijnp7xhE" allowfullscreen></iframe>
   </div>
</div>
</div>
