<div style="text-align:center">
  <img width="600" alt="Kooraga" src="assets/images/header/kooraga.png"/>
</div>

<div class="container">
  <nav class="navbar navbar-light bg-faded">
    <a routerLink="/schedule" style="color: white">Расписание концертов</a>
    <a routerLink="/foto" style="color: white">Фото</a>
    <a routerLink="/video" style="color: white">Видео</a>
    <a routerLink="/thanks" style="color: white">Отблагодарить группу</a>
    <a routerLink="/about" style="color: white">О нас</a>
    <a routerLink="/contact" style="color: white">Контакты</a>
  </nav>
</div>

<router-outlet></router-outlet>
